body {
  font-family: Arial, sans-serif;
  background-color: #fbfbf2; /* Light background color */
  color: #000; /* General text color */
  line-height: 1.6;
  margin: 0;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input,
select,
button {
  margin-bottom: 10px;
}

input,
select {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#quote-result {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #333;
}
